@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fundo do site*/
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

/*texto contato, servicos, etc*/
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    margin-right: 400px;
}

/*texto tambem*/
li {
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 3rem;
}

/*link*/
a {
    text-decoration: none;
}

/*texto no cabeçalho*/
.top {
    margin-left: auto;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #ef1217, #ef1217 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.top a{
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #ef1217, #ef1217 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.top a:hover{
    justify-content: space-between;
    background-position: 0 100%;
}

.cabecalho {
    position: relative;
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    
}

.icons-cabecalho{
    width: 30%;
}

.icons-cabecalho a {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #ef1217, #ef1217 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    justify-content: space-between;
}

.icons-cabecalho a:hover {
    background-position: 0 100%;
}

/*logo jandosa*/
.logoreal {
    display: flex;
    margin: 9px;
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin-left: 50px;
    border-style: solid;
    border-color: #ef1217;
}

/*logo jandosa fim NAO MEXER PQ DEMOROU PRA FUNCIONAR*/

/*SLIDES*/
.slides {
    height: 65vh;
    width: 95%;
    overflow: hidden;
    position: relative;
    border: 0px solid #79e0ee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 50px;
    margin-top: 50px;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }

    50% {
        opacity: 0;
    }
}

/*TITULO ESPECIALIZADA NO SEU CARRO*/
.titulo-especializada {
    text-align: center;
    color: #ef1217;
    margin-top: 85px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*galeria de imagens*/

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin: 150px;
    margin-top: 50px;
    transition: 1s;
    overflow: hidden;
}

.galeria-imagem img {
    padding: 10px;
    transition: 0.5s ease;
}

.galeria:hover img:hover {
    transform: scale(1.1);
    /*efeito ao passar o cursor sobre*/
    z-index: 2;
}

/*PATROCINIOS*/

.row{
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
}
.row h1{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    position: absolute;
    padding: 10px;
    color: #1111e4;
    max-width: 100%;
    max-height: 100%;
}

.column{
    justify-content: center;
    margin-top: 50px;
    margin: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    
}
.column img{
    justify-content: center;
    margin-top: 55px;
    background-color: #ccc;
    width: 150px;
    height: 150px;   
}

.column-mobil img{
    justify-content: center;
    margin-top: 55px;
    background-color: #ccc;
    width: 150px;
    height: 50px; 
    margin-top: 120px;  
    margin-left: 25px;
}

/*footer*/
section {
    padding: 30px 13% 50px;
}

.footer {
    display: flex;
    flex-wrap: flex;
    gap: 2.5rem;
    background-color: #000;
}

.footer-content h4 {
    font-size: 20px;
    margin: 5px;
}

.footer-content p {
    margin: 5px;
}

/*efeito vermelho no texto do footer*/
.icons a {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #ef1217, #ef1217 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    justify-content: space-between;
}

.icons a:hover {
    background-position: 0 100%;
}

/*endereço footer*/
.icon-endereco{
    margin: 5px;
}

.icon-endereco h4{
    font-size: 20px;
}
